.App {
    margin: 1em;
}

.main-content {
  display: flex;
  flex-flow: row;
}

.main-content > * {
  flex: 1;
}

.main-content > *:nth-child(n+2) {
  margin-left: 2em;
}

.movie-list {
  min-width: 50%;
}

.main-content > .introduction {
  /* The introduction should be smaller than the movie list. */
  flex: 0.8;
}

.source-repo-link {
  display: flex;
  align-items: center;
  opacity: 0.7;
}

a.source-repo-link {
  /* Override normal ant style to avoid emphasizing this link. */
  color: black;
}

.source-repo-link img {
  padding-right: 0.3em;
}
