.App {
    margin: 1em;
}

.main-content {
  display: flex;
  flex-flow: row;
}

.main-content > * {
  flex: 1;
}

.main-content > *:nth-child(n+2) {
  margin-left: 2em;
}

.main-content > .introduction {
  /* The introduction should be smaller than the movie list. */
  flex: 0.8;
}

/*
 * Right-align review dates as I think they're more readable that way (at least in US locale).
 */
.movie-list td.review-date-column {
  text-align: right;
}

.movie-details > header {
  display: flex;
  justify-content: space-between;
}

.source-repo-link {
  display: flex;
  align-items: center;
  opacity: 0.7;
}

a.source-repo-link {
  /* Override normal ant style to avoid emphasizing this link. */
  color: black;
}

.source-repo-link img {
  padding-right: 0.3em;
}
