.App {
    margin: 1em;
}

.main-content {
  display: flex;
  flex-flow: row;
}

.movie-list {
    flex-grow: 1;
}

.movie-details {
  flex-grow: 1;
  /*
   * Give a healthy amount of spacing from the list.
   * Is there a clearer way to do this?
   */
  margin-left: 2em;
}
